* {
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  text-align: center;
  /* color: #fff; */
  line-height: 1;
}

/* Estilos generales */
.vh100 {
  height: 100vh;
}
.black {
	color: #000;
}
.white {
	color: #fff;
}

/* Estilos de vista index */
.bg-index {
  background-image: url("../assets/images/bg-digital.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: .7;
}
  
.responsive-code, .small-code {
  font-family: 'Days one';
  font-size: 50px;
  text-align: center;
}

.responsive-code {
  font-weight: 900;
  margin-top: 3em;
}

.small-code {
  font-weight: 500;
  font-size: 34px;
  margin-top: 1em;
}

.img-logo {
  padding-top: 5em;
}

/* Estilos crear formulario */
.bg-sesion {
  background-image: url("../assets/images/sesion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.bg-create {
	background-image: url("../assets/images/sesion-b.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.page-container {
  margin: 120px auto 0 auto;
}

.title-form {
  font-size: 30px;
  font-weight: 700;
  text-shadow: 0 1px 4px rgba(0,0,0,.2);
}

.user-form {
  position: relative;
  width: 305px;
  margin: 15px auto 0 auto;
  text-align: center;
}

.login {
  opacity: .9;
  width: 19em;
  height: 3em;
  margin-top: 25px;
  padding: 0 15px;
  background: rgba(45,45,45,.13);
  border-radius: 6px;
  border: 1px solid rgba(255,255,255,.9);
  font-size: 15px;
  text-shadow: 0 1px 2px rgba(0,0,0,.3);
  text-align: center;
  outline: none;
}

::-webkit-input-placeholder { color: white; }
:-moz-placeholder           { color: white; }
::-moz-placeholder          { color: white; }
:-ms-input-placeholder      { color: white; } 

.btn-login {
  cursor: pointer;
  width: 21em;
  height: 3em;
  margin-top: 25px;
  margin-bottom: 1em;
  padding: 0;
  background: #ef4300;
  border-radius: 6px;
  border: 1px solid #ff730e;
  box-shadow: 0 15px 30px 0 rgba(255,255,255,.25) inset, 0 2px 7px 0 rgba(0,0,0,.2);
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.create-link {
  padding: 1em;
}

.connect {
  width: 305px;
  margin: 35px auto 0 auto;
  font-size: 18px;
  font-weight: 700;
  text-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.facebook {
  background: url("../assets/facebook.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.google {
  background: url("../assets/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.connect a {
  display: inline-block;
  width: 32px;
  height: 35px;
}

.connect p {
  color: #000;
}

.btn-social {
  cursor: pointer;
  height: auto;
  background: transparent;
  border-radius: 40%;
  border: 1px solid rgba(194, 146, 16, 0.829);
  box-shadow: 0 15px 30px 0 rgba(255,255,255,.25) inset, 0 2px 7px 0 rgba(0,0,0,.2);
  color: #fff;
}

/* Estilos vista Profile */
.menu {
  text-align: center;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9E9E9E;
}

.menu ul li {
  display: inline-block;
}

.menu ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu ul li a:hover {
  background-color: #028090;
}

.header{
	position:relative;
	width:100%;
	height:200px;
	border-bottom: 3px solid #fff;
	background-color: #ffffff;
	background-position:center;
	background-color: #ffffff;
	background-image: url("../assets/images/image-header.jpg");
	background-size:cover;
}

.header button{
	position:relative;
	float: right;
	width:50px;
	height:50px;
	margin-right:15px;
	border-radius: 100%;
	padding:0px 15px 0px 15px;
	top: 130px;
	right: 5px;
	transition:0.2s;
	-webkit-box-shadow:0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
	box-shadow:0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
}

.header button:hover{
	width:180px;
	height:50px;
	margin-right:15px;
	border-radius: 1000px;
	padding:0px 15px 0px 15px;
	bottom: 5px;
	right: 5px;
	transition:0.2s;
}

.header button i{
	float:right;
	color: #333;
	font-size:18px;
}

.header button:hover i{
	display:none;
	transition: 1s;
}

.header button .text{
	display:none;
	font-family: 'Quicksand', sans-serif;
	font-size:15px;
	font-weight: 600;
	transition: 1s;
}

.header button:hover .text{
	display:inline-block;
	transition: 1s;
}

.avatar{
	z-index:1;
	position: relative;
   margin: auto;
	margin-top: -80px;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	background-size: cover;
	background-position: center;
}

.content{
	position:relative;
}

.title-profile h1{
	font-family: 'Cabin', sans-serif;
	font-weight: 700;
	color:#444;
	font-size:35px;
	text-align:center;
	margin-top:20px;
}

.title-profile p{
	font-family: 'Quicksand', sans-serif;
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
	color: #777;
}

/* Estilos Vista Profile */
.divider-right{
  border-right: 1px solid #5882FA;
}

.top{
  margin-top: 5%;
}
.center{
  margin: auto;
}

.divider{
  border-bottom: 1px solid #e2e2e2;
}

textarea {
  border-color: 2 px solid #eee;
  border-radius: 20px;
	font-size: 16px;
	min-height: 80px;
	outline: none;
	resize: none;
	width: 100%;
	transition: border-color 0.4s;
  overflow: hidden;
  padding: 1em;
  color: #000;
  background-color: rgba(161, 161, 161, .4);
}

textarea:focus {
	border-color: #5ca2e7;
}

.card {
  margin-top: 2em;
}

/* Posteo */
.safe {
  stroke: #1da1f2;
}

.warn {
  stroke: #ffad1f;
}

.danger {
  stroke: #e0245e;
}

.footer-form {
	padding-top: 25px;
} 

.post-btn, .count {
	font-weight: 700;
}

.post-btn {
	background-color: #1da1f2;
	border: 1px solid #35a9f1;
	border-radius: 4px;
	color: #ffffff;
	font-size: 16px;
	text-transform: uppercase;
	padding: 10px 25px;
	transition: background-color 0.2s, color 0.2s;
}

.post-btn:disabled {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
} 

.count {
	float: right;
	font-size: 18px;
  line-height: 40px;
  color: #000;
}

.items, .photo-selector, .icon-btn, .media-selector {
  display: inline-block;
}

.icon-btn {
  /* border-color: #c3bfbf; */
  border-radius: 15px;
  background-color: transparent;
}

.cam {
  width: 100%;
  height: 100%;
  background-image: url(../assets/icam.svg);
  background-repeat: no-repeat;
  background-size: auto;
  border-color: 1px solid #eee;
}

.new-message {
  /* background-color: #fff; */
  width: inherit;
  height: auto;
  word-wrap: break-word;
  border: 1px solid #e6ecf0;
  padding: 15px;
  margin: 2em auto;
}

.like {
  text-decoration: none;
  padding: 1em;
}

/* Estilos vista Contactos */
