<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Perfil</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapseds" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="col-xs-9 col-md-offset-6 col-md-pull-6">
              <a class="navbar-brand" href="#"></a>
          </div>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Logo <span class="sr-only">(current)</span></a></li>
            <li><a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
          </ul>    
          <form class="navbar-form navbar-left">
            <div class="input-group">
              <input type="text" class="form-control textinput clearable" placeholder="Search">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </span>
              </div>
          </form>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#" class="" role="button" aria-haspopup="true">
                <img class="profile-image img-responsive" src="https://pbs.twimg.com/profile_images/950233850407542784/74kFeOyO_normal.jpg" alt="Perfil">
              </a>
            </li>
            <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header><!-- /header-->

  <!-- Block - information -->
  <div class="profile-information">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-4">
        <div class="row bg-profile">
          <!-- <div class="col-xs-6"></div> -->
        </div>
        <div class="row">
          <div class="information col-xs-offset-4 col-xs-8 col-sm-offset-5 col-sm-7 col-offset-md-4 col-md-8 col-offset-lg-4 col-lg-8">
              <img class="profile-image photo img-responsive" alt="User" src="https://pbs.twimg.com/profile_images/950233850407542784/74kFeOyO_normal.jpg">
            <h3>User</h3>
            <p class="user">@user</p>
          </div>
        </div>
        <div class="row">
          <div class="header-profile">
          </div>
        </div>
        <div class="row">
          <div class="contacts">
            <div class="number">50</div>
            <div class="title">Contacts</div>
            <span>Amplía tu red</span>
          </div>
        </div>
        <div class="row">
          <span>Accede a información y herramaientas</span>
          <g style="clip-path: url(#hg1)"></g>
        </div>
      </div>
    </div>
  </div>

   <!--Enlaces js-->
   <script src="../vendors/js/jquery-3.2.1.min.js"></script>
   <script src="../vendors/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="    "></script>
</body>
</html>