<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Days+One" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon/apple-icon-76x76.png">
  <link rel="stylesheet" href="../css/main.css">
  <title>Profile</title>
  <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
</head>

<body>
  <!-- Notificaciones  -->
  <div class="row">
    <section id="video" class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
      <h3>Preferencias</h3>
      <iframe class="box-video"  src="https://www.youtube.com/embed/xnWtGNiG2lg?list=PLhSj3UTs2_yVC0iaCGf16glrrfXuiSd0G" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <!-- <iframe width="854" height="480" src="https://www.youtube.com/embed/xnWtGNiG2lg?list=PLhSj3UTs2_yVC0iaCGf16glrrfXuiSd0G" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
    </section>
  </div>
  <div class="row">
    <section id="images-preferences col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="img-responsive">
        <img class="images-pref1 col-xs-4 col-sm-4 col-md-4 col-lg-4" src="../assets/images/readme/preferences/codigo.jpeg" alt="Example coder">
      </div>
      <br>
      <div class="img-responsive">
        <img class="images-pref2 col-xs-4 col-sm-4 col-md-4 col-lg-4" src="../assets/images/readme/preferences/lenguajes.jpg" alt="Lenguajes de programación">
      </div>
      <br>
      <div class="img-responsive">
        <img class="images-pref3 col-xs-4 col-sm-4 col-md-4 col-lg-4" src="../assets/images/readme/preferences/color.png" alt="Paleta de colores">
      </div>

    </section>
  </div>
  <!--Enlaces js-->
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/profile.js"></script>
</body>
</html>