<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Days+One" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon/apple-icon-76x76.png">
  <link rel="stylesheet" href="../css/change-image.css">
  <title>Profile</title>
</head>
<body class="bg-profile">
  <div id="perfil">
    <!-- Header perfil -->
    <div class="header">
      <button class="btn-image">
        <div class="text">ALTERAR FUNDO</div>
        <i class="fa fa-picture-o" aria-hidden="true"></i>
      </button>
    </div>
  
    <!-- Avatar -->
    <div class="avatar"></div>





    <!--  imagen esto se modifica -->
    <div class="container">
      <div class="row">
        <img id="file-image" class="img-user img-responsive hidden" src="assets/user.svg" alt="image user">
        <!--upload user image-->
        <form id="file-upload-form" class="uploader">
          <input id="file-upload" type="file"/>
          <label for="file-upload" id="file-drag">
            <div id="start"></div>
              <div id="notimage" class="hidden">
                <img src="assets/images/icam.svg" alt="upload image">
              </div>
            </div>
          </label>
        </form>
      </div>
    </div>

    <!--       -->



    <nav class="menu">
      <ul>
        <li><a class="home">Preferencias</a></li>
        <li><a class="opcion1">Cotactos</a></li>
      </ul>
    </nav>

    <!-- Título de Perfil -->
    <div class="title-profile">
      <h1>Carmen Farro Lopez</h1>
    </div>
  </div>
  <!--Enlaces js-->
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/profile.js"></script>
</body>
</html>