<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Days+One" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon/apple-icon-76x76.png">
  <link rel="stylesheet" href="../css/main.css">
  <title>Crear Cuenta</title>
</head>
<body class="vh100 bg-create">
  <div class="page-container">
    <h1 class="title-form">Login</h1>
    <form class="user-form" action="" method="post">
      <input class="login" name="username" class="username" placeholder="Username" type="text">
      <input class="login" name="password" class="password" placeholder="Password" type="password">
      <button class="btn-login" type="submit">Sign me in</button>
      <div class="error"><span>+</span></div>
      <!--enlace que direcciona a la vista crear-->
      <a href="#"></a>
    </form>
    <div class="connect">
      <p>Or connect with:</p>
      <p>
        <button class="btn-social" type="button">
          <a class="facebook" href="#"></a>
        </button>
        <button class="btn-social" type="button">
          <a class="google" href="#"></a>
        </button>
      </p>
    </div>
  </div>

  <!--Enlaces js-->
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../vendors/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src=""></script>
</body>
</html>